{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phrasebook - {{ category.name }}</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'phrasebook/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/1b61713aa1.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="https://dcatcher.me/assets/favicon.png">
  </head>

  <body>
    {% include "phrasebook/sidebar.html" %}
    <main>
    {% csrf_token %}
        <div class="topBar">
            <div class="top">
                <span class="mainTitle">
                    <i>{{ category.shortened }}</i>
                    <span>{{ category.name }}</span>
                    <span class="padding"></span>
                    <span class="num-badge">{{ category__len }}</span>
                </span>
                <div class="buttons">
                    <a href="{% url 'phrasebook:new_word' category.id %}" class="button bg--deepOrange white">Add new Word</a>
                    {% if category.pinned %}
                        <a href="{% url 'phrasebook:pin_category' category.id %}" class="button pinned white"><i class="fa fa-fw fa-circle"></i></a>
                    {% else %}
                        <a href="{% url 'phrasebook:pin_category' category.id %}" class="button pin white" ><i class="fa fa-fw fa-thumb-tack fa-rotate-45"></i></a>
                    {% endif %}
                    <a href="{% url 'phrasebook:category_notes' category.id %}" class="button bg--olive white">Notes</a>
                    <form onkeypress="return event.keyCode !== 13;" class="searchBox">
                        <input type="hidden" id="username" value="{{ username }}">
                        <input type="hidden" id="shortenedLanguage" value="{{ current_language.flag_name }}">
                        <input type="hidden" id="category" value="{{ category.id }}">
                        <input type="text" placeholder="Search" id="search" class="search" autofocus>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="wordBlock wbtitle">
                <span class="lang"><h1>{{ category.language.english_name }}</h1></span>
                <span class="padding"></span>
                <span class="english"><h1>English</h1></span>
                <span class="padding"></span>
                <span class="starred"><i class="fa fa-fw fa-star"></i></span>
                <span class="starred"><i class="fa fa-fw fa-pencil"></i></span>
            </div>

            <div class="allWords">
                {% for word in words %}
                    <div class="wordBlock">
                        <span class="lang">{{ word.foreign }}</span>
                        <span class="padding"></span>
                        <span class="english">{{ word.english }}</span>
                        <span class="padding"></span>
                        <input type="hidden" class="word_id" value="{{ word.id }}">
                        {% if word.starred %}
                            <span class="starred"><i class="fa fa-fw fa-star star-on"></i></span>
                        {% else %}
                            <span class="starred"><i class="fa fa-fw fa-star star-off"></i></span>
                        {% endif %}
                        <span class="edit starred"><i class="fa fa-fw fa-pencil"></i></span>
                    </div>
                {% endfor %}
            </div>
            {% if notes != "" %}
                <div class="notes margin-top-3">
                    <div class="h1">Notes:</div>
                    {{ notes |safe }}
                </div>
            {% endif %}
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js"></script>
{#    <script src="{% static 'phrasebook/js/dropdown.js' %}"></script>#}
    <script src="{% static 'phrasebook/js/languagePicker.js' %}"></script>
    <script src="{% static 'phrasebook/js/sidebar.js' %}"></script>
    <script src="{% static 'phrasebook/js/editword.js' %}"></script>
    <script src="{% static 'phrasebook/js/starred.js' %}"></script>
    <script src="{% static 'phrasebook/js/search.js' %}"></script>
  </body>
</html>