{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Phrasebook</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'phrasebook/css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/1b61713aa1.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="https://dcatcher.me/assets/favicon.png">
    </head>
    <body>
        <div class="logo-title">
            <img src="https://dcatcher.me/assets/logo-title.svg" alt="Phrasebook">
        </div>

        <div class="centre">
            <span class="title">Bienvenue</span>
            <span class="subtitle">to a new store for your vocab</span>
            <span class="sticky"></span>
            <a href="{% url "phrasebook:login" %}" class="btn">Get Started Now</a>
        </div>

        <a href="https://unsplash.com/photos/YpKiwlvhOpI" class="info-box">
            <img src="https://dcatcher.me/assets/info.svg" alt="i">
            <span>Photo by Willian West on Unsplash</span>
        </a>
    </body>
</html>
