{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phrasebook - login</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'phrasebook/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/1b61713aa1.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="https://dcatcher.me/assets/favicon.png">
</head>
<body class="loginPage logReg">
<nav><a href="{% url 'phrasebook:index' %}"><i class="fa fa-fw fa-chevron-left"></i><span>Back home</span></a>
    <div><span>Not a member?</span><a href="{% url 'phrasebook:register' %}">Sign up</a></div>
</nav>
<main class="noSidebar">
    <div class="loginBlock">
        <div class="formTitle">
            <div class="logo">
                <object data="https://dcatcher.me/assets/pb-verttext.svg"></object>
            </div>
        </div>
        <form method="post" action="{% url "phrasebook:login" %}" class="glass-form login-form">{% csrf_token %}
            {% if error != Null %}
                <div class="errorMessage">
                    <i class="fa fa-fw fa-exclamation"></i>
                    <span>{{ error }}</span>
                </div>
            {% endif %}
            {% if success != Null %}
                <div class="successMessage">
                    <i class="fa fa-fw fa-tick"></i>
                    <span>{{ success }}</span>
                </div>
            {% endif %}
            <div class="loginContainer">
                <label>Username</label>
                <input type="text" placeholder="" name="username" id="username" class="login">
            </div>
            <div class="loginContainer">
                <label>Password</label>
                <input type="password" placeholder="" name="password" id="password" class="login">
            </div>
            <input type="submit" value="Login" id="loginButton" class="glass-btn">
        </form>
    </div>
    <!-- h2 Hello world!-->
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js"></script>
<script src="{% static 'phrasebook/js/utils/labels.js' %}"></script>
</body>
</html>