{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phrasebook - {{ category.name }}</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'phrasebook/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/1b61713aa1.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="https://dcatcher.me/assets/favicon.png">
  </head>

  <body>
  {% if logged_in %}
      {% include "phrasebook/sidebar.html" %}
  {% endif %}
{#    <input type="hidden" value="{{ category.id }}" id="category_id">#}
    <main>
{#    {% csrf_token %}#}
        <div class="topBar">
            <div class="top">
                <span class="mainTitle">
                    <i>{{ category.shortened }}</i>
                    <span>{{ category.name }}</span>
                    <span class="padding"></span>
                    <span class="num-badge">{{ category__len }}</span>
                </span>
            </div>
        </div>
        <div class="content category">
            {% if category__len > 0 %}
            <div class="wordBlock wbtitle">
                <span class="lang"><h1>{{ category.language.english_name }}</h1></span>
                <span class="padding"></span>
                <span class="english"><h1>English</h1></span>
                <span class="padding"></span>
            </div>
            {% endif %}

            <div class="allWords">
                {% for word in words %}
                    <div class="wordBlock">
                        <span class="lang">{{ word.foreign }}</span>
                        <span class="padding"></span>
                        <span class="english">{{ word.english }}</span>
                        <span class="padding"></span>
                    </div>
                {% endfor %}
            </div>
            {% if notes != "" %}
                <div class="notes margin-top-3">
                    <div class="h1">Notes:</div>
                    {{ notes |safe }}
                </div>
            {% endif %}
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/external/jquery/jquery.js"></script>
  </body>
</html>