<div class="language-picker">
    <div class="container">
        <div class="container-title">
            <i class="fa fa-fw fa-globe"></i>
            <span>Change Language</span>
            <a href="#" class="close"><i class="fa fa-fw fa-close"></i></a>
        </div>
        <div class="language-selector">
            {% if languages_len == 1 %}
                <span>No languages to choose</span>
            {% endif %}
            {% for language in languages %}
                {% if language.flag_name != current_language.flag_name %}
                    <a class="language-block" style="background-color:{{ language.color }}" href="{% url 'phrasebook:change_language' language.flag_name %}">
                        <span class="language-title">{{ language.english_name }}</span>
                        <img src="https://dcatcher.me/assets/{{ language.flag_name }}.svg" alt="{{ language.english_name }}" class="language-icon">
                        <span class="hidden">{{ language.flag_name }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<nav class="sidebar">
    <div class="user-section">
        <ul class="section">
            <li class="drop">
                <a href="#" class="userIcon">
                    <div class="userSection">
                        <img src="https://dcatcher.me/assets/dcatcher.jpg" alt="user icon" class="icon">
                        <img src="https://dcatcher.me/assets/{{ current_language.flag_name }}.svg" alt="{{ current_language.flag_name }} Flag" class="flag">
                    </div>
                    <span>{{ name }}</span>
                    <span class="sticky-push"></span>
                    <img src="https://dcatcher.me/assets/downarrow.svg" alt="toggle" class="rot arrow">
                </a>
            </li>
        </ul>
        <ul class="dropdown-elements">
{#            <li class="hide hidden"><a href="#settings#"><i class="fa fa-fw fa-cog"></i></a></li>#}
            <li class="hide hidden">
                <a href="{% url 'phrasebook:logout' %}" class="logout">
                    <i class="fa fa-fw fa-sign-out"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="main">
        <li class="navSubheading">Main</li>
        <li>
            <a href="{% url 'phrasebook:app' %}" class="all {{ page_app }}">
                <i class="fa fa-fw fa-home"></i>
                <span>Overview</span>
            </a>
        </li>

    </ul>

    <ul class="categories">
        <li class="navSubheading">Categories</li>
        {% for pinned_category in pinned_categories %}
            {% if pinned_category.id == current_category_id %}
                <li>
                    <a href="{% url 'phrasebook:get_category' pinned_category.id %}" class="active">
                        <i>{{ pinned_category.shortened }}</i>
                        <span>{{ pinned_category.name }}</span>
                        <span class="sticky-push"></span>
                        <span class="counter">{{ pinned_category.num_words }}</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'phrasebook:get_category' pinned_category.id %}" class="">
                        <i>{{ pinned_category.shortened }}</i>
                        <span>{{ pinned_category.name }}</span>
                        <span class="sticky-push"></span>
                        <span class="counter">{{ pinned_category.num_words }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        <li>
            <a href="{% url 'phrasebook:all_categories' %}" class="all {{ all_categories }}">
                <i class="fa fa-fw fa-list"></i>
                <span class="all">All Categories</span>
            </a>
        </li>
        <li>
            <a href="{% url 'phrasebook:new_category' %}" class="addNewCategory {{ new_category }}">
                <i class="fa fa-fw fa-plus"></i>
                <span>New Category</span>
            </a>
        </li>
    </ul>


    <div class="sticky-push"></div>
    <ul class="languages">
        <li class="navSubheading">Language</li>
        <li>
            <a href="#" id="language-change-link" class="currentlanguage">
                <img src="https://dcatcher.me/assets/{{ current_language.flag_name }}.svg" alt="{{ current_language.flag_name }} flag" class="languageIcon">
                <span>Change Language</span>
            </a>
        </li>
    </ul>
</nav>